.container{
    background-image: url("pablo-merchan-montes-hyIE90CN6b0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}